{% extends 'recipes/base.html' %}

{%  block content %}
    <h2>Recipes</h2>
    {% if recipe_list %}
        <ul>
            {% for recipe in recipe_list %}
                <li><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Recipes are available.</p>
    {% endif %}

    <h2>Menus</h2>
        {% if menu_list %}
            <ul>
            {% for menu in menu_list %}
                <li><a href="{{ menu.get_absolute_url }}">{{ menu.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No Menus are available.</p>
        {% endif %}

    <h2>Shopping Lists</h2>
        {% if shopping_lists %}
            <ul>
            {% for list in shopping_lists %}
                <li><a href="{{ list.get_absolute_url }}">{{ list.name }}</a></li>
            {% endfor %}
            </ul>
    {% endif %}
{% endblock %}