{% extends "recipes/base.html" %}

{% block content %}
<h1>Menus</h1>
{% for menu in menus %}
    <li><a href="{{ menu.get_absoluteurl }}">{{ menu.name }}</a></li>
{% endfor %}
   <form action="{% url 'recipes:menu_list' %}" method="post" id="create-menu">
        {% csrf_token %}
        <label for="menu-name">Enter a menu name</label>
        <input type="text" name="menu-name" id="menu-name" placeholder="Menu name"/>
        <input type="submit" value="Create menu" />
    </form>


{% endblock %}
